@import 'card_small.css';
/*@import 'search.css';*/
@import 'signup.css';

body{
    width: 100%;
    display: block;
}

.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        transparent 33.33%,
        rgba(179, 57, 57, 0.1) 33.33%,
        rgba(0, 0, 0, 0.1) 66.66%,
        transparent 66.66%
      ),
      rgb(243, 247, 244);
    background-size: 20px 20px;
}
  

.body{
    display: block;
    min-height: auto;
    padding: 0 5vw;
    position: relative;
    font-family: roboto, 'sans-serif';
}
.logo{
    display: block;
    height: 18vh;
    margin: 20px auto 50px;
}
/* Menu nav */
.navbar-admin{
    width: 100;
    background: #f5b67b;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);

}
.navbar-adm, .link-container{
    display: flex;
    width: 100%;
}
.link-container{
    padding: 10px 20px;
}
.link-container .btn{
    display: flex;
    align-items: center;
    inline-size: inherit;
    color: #e66612;
    background: #fff;
    margin: 10px 5px;
}
.link-container i{
    font-size: 20px;
    margin-right: 5px;
}
/* Become seller */
.become-seller{
    display: block;
    padding: 30px;
    border-radius: 5px;
    background: #e2e2e2;
}

.headding{
    font-weight: 700;
    font-size: 18px;
}

.des{
    margin: 20px 0;
    line-height: 25px;
}
.btn-contaier{
    display: flex;
    align-items: center;
}
.btn{
    border: none;
    outline: none;
    height: 40px;
    margin-left: 10px;
    padding: 10px 30px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;    
}
.back-btn, .cancel-btn{
    background: #383838;
    color: #fff;
    opacity: .5;
    transition: .3s;
}
.back-btn:hover, .cancel-btn:hover{
    opacity: 1;
}
/* Apply form */
.apply-form input, textarea{
    font-weight: 500;
}
input::placeholder, textarea::placeholder{
    color: #b8b8b8;
}
.apply-form input:not(input[type="checkbox"]){
    width: 100%;
}
.apply-form textarea{
    width: 100%;
    height: 90px;
    resize: none;
    padding: 10px 20px;
}
.apply-form label, .apply-form a{
    color: black;
}
.submit-btn{
    width: 10vw;
    margin: 10px 0;
    padding: 0 40px;
}

/* Product listing */
.add-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}
.add-product-text{
    text-transform: capitalize;
    color: #383838;
}
.no-booking-image{
    display: block;
    margin: auto;
    height: 10vw;
    opacity: .7;
}
.no-product-image{
    display: block;
    margin: auto;
    height: 25vw;
    opacity: .7;
}
.hide{
    display: none;
}
/* Product list */
.product-container, .booking-container, .booking-container-see{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    /*transform: translateX(0);*/
    transition: .5s;
    opacity: 1;

}


.product-card{
    margin-bottom: 20px;
}

.tag{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 10px;
    border-radius: 2px;
    background: #e66612;
    color: #fff;
}
.card-action-btn, .btn-delete-booking{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: .5s;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

.card-action-btn img{
    height: 18px;
}
.open-btn{
    top: 60px;
}
.delete-popup-btn{
    top: 110px;
    background: #f25252;
}

.product-card:hover .card-action-btn, .product-card:focus .card-action-btn{
    opacity: 1;
    pointer-events: all;
}

.delete-alert{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
}

.alert{
    width: 400px;
    height: auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    position: relative;
    padding: 15px;
}
.close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
.close-btn img {
    width: 25px;
}
.delete-svg{
    height: 80px;
    display: block;
    margin: 20px auto;
}
.text{
    color: #383838;
    text-align: center;
}
.delete-btn{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #f25252;
    margin: 15px auto 0;
    display: block;
    padding: 10px 20px;
    text-transform: capitalize;
    color: #fff;
}

.pages{
    background: none;
    border-radius: 10px;
}

/* booking list */
.booking-container, .booking-container-see{
    display: block;
    padding-bottom: 20px;
    min-height: 500px;
    background: #ffffffc0;
    transition: .5s;
}
.displace{
    opacity: 0;
    display: none;
}
/* Booking bar */
.bar-sup{
    width: 100%;
    height: 50px;
    background: #ffd4b7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.booking-list{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #dadbdd;
    border-top: 1px solid #e66612;
    cursor: pointer;
}
.booking-info{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.booking-image{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    background: #383838;
    border-radius: 50%;
}
.user-info-book{
    padding: 0 10px;
}
.booking-short-des{
    width: 25vh;
    /*height: 50px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.data-info{
    margin-top: 10px;
    font-size: 12px;
    opacity: .7;
}
.booking-btn{
    position: absolute;
    top: calc(10%);
    right: 10px;
    
}
.btn-delete-booking{
    opacity: 1;
    box-shadow: none;
    background: #f25252;
}
.btn-p, .btn-b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-p i, .btn-b i{
    font-size: 20px;
    margin-left: 5px;
}
.btn-b{
    display: none;
}
/*---------------------------------*/
/*--- Mail section ---*/
.mail-container{
    display: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    /*background: #383838;*/
    transition: .5s;
}
.show-descript{
    display: block;
}
.by-mail{
    display: flex;
    align-items: center;
}
.user-name-des, .user-email-des{
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.user-email-des{
    font-size: 12px;
}
.cliente-description{
    padding: 20px 20px;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
    margin-bottom: 20px;
}
.by-cont{
    display: flex;
    margin-top: 6px;
    font-size: 14px;
}
.by-cont h4{
    margin-right: 6px;
}
.number-contact{
    margin: 10px 0 ;
}
/*---------------------------------*/
        /*--- Resolution ---*/
/*---------------------------------*/

/* BREAKPOINT */
@media (max-width: 500px){
    .link-container .txt-btn{
        display: none;
    }
    .link-container .btn{
        justify-content: center;
    }
}
